@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

$font-primary: 'Play',Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif; ; 
$colour-text: rgb(51, 51, 51);
$colour-primary: rgb(173, 210, 252);
$colour-hit: rgb(255, 50, 50);
$colour-miss: rgb(199, 199, 199);
$border-style: 2px solid $colour-text;


* {
  margin: 0;
  padding: 0;
  font-family: $font-primary;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: $colour-primary;
}

header {
  h1 {
    text-align: center;
    margin: 5px;
  }
}

button {
  font-size: 0.9em;
  margin: 2px;
  padding: 2px;
}

.container {
  &__name,&__instructions{
    margin: 5px;
  }
}

#history {
  margin: 5px;
}

.grid {
  display: grid;
  grid-template: repeat(11, 1fr) / repeat(11, 1fr);
  margin: 10px;
  border: $border-style;

  &__box {
    border: $border-style;
    aspect-ratio: 1/1;
    text-align: center;
  }
}

.last {
  background-color: black;
  color: white;
}

.ship {
  position: absolute;
  display: none;
  background-color: rgba(128, 128, 128, 0.7);
  border-radius: 25%;
  border: $border-style;
  box-sizing: border-box;
  text-align: center;
  color: white;
  &:hover {
    background-color: rgba(128, 128, 128, 1);
  }
}

.hit {
 background-color: $colour-hit;
}

.miss {
  background-color: $colour-miss;
}

@media screen and (min-width: 768px) {
  main {
    display: flex;
  }
  .container{
    &__instructions{
      padding-top: 13px;
    }
  }
  #history{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 80vh;
  }
}

@media screen and (min-width: 1368px) {
  main {
    display: flex;
  }
  .container {
    width: 30%;
  }
}